# For Loop <hr style = "border:10px solid#FFFFF123"></hr>

Data Analyst: Ian Patrick M. Alvior <br> Department: Electrical Engineering

# Iterating Over a List

In [2]:
# at idex 0, i = "apple"
fruits =["apple", "orange", "grapes"]

for i in fruits:
    print(i)

apple
orange
grapes

In [3]:
# at idex 0, n = 1
numbers =[1,2,3,4,5,6,7,8,9,20]

for n in numbers:
    print(n)

1
2
3
4
5
6
7
8
9
20

In [5]:
# start at 1, ends at 15 (exclusive), steps by 3

for j in range(1,15,3):
    print(j)

1
4
7
10
13

# Iterating Over a Dictionary

In [7]:
# at idex 0, char = 'P'

for char in "Python":
    print(char)

P
y
t
h
o
n

In [9]:
employee = {"name":"Ian",
            "position":"Electrical Engineer",
            "Salary": 12000}

# starts at key = "name"
for key in employee:
    print(key)

# starts at value = "Ian"
for value in employee.values():
    print(value)

name
position
Salary
Ian
Electrical Engineer
12000