# for Loop <hr style = "border:10px solid#FFFFF123"></hr>

Data Analyst: Ian Patrick M. Alvior <br> Department: Electrical Engineering

# Iterating Over a List

In [1]:
# at idex 0, i = "apple"
fruits = ["banana", "babana", "grapes"]

for i in fruits:
    print(i)

banana
babana
grapes

In [2]:
# at idex 0, n = 1
numbers = [10,2,3,4,5,6,7,8,9,20]

for n in numbers:
    print(n)

10
2
3
4
5
6
7
8
9
20

In [4]:
# start at 1, ends at 15 (exclusive), steps by 2

for j in range(0,15,2):
    print(j)

0
2
4
6
8
10
12
14

# Iterating Over a Dictionary

In [5]:
# at idex 0, char = 'P'

for char in "Pokemon":
    print(char)

P
o
k
e
m
o
n

In [9]:
employee = {"name":"Ian",
            "position":"Electrical Engineer",
            "Salary": 12000}

# starts at key = "name"
for key in employee:
    print(key)

# starts at value = "Ian"
for value in employee.values():
    print(value)

name
position
Salary
Ian
Electrical Engineer
12000